.landing-page {
  background-color: #dbd0c5;
  height: auto;
  width: 100%;
  overflow: hidden;
  max-width: 2000px;
  margin: 0 auto;
}

.login-signup-bar {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  padding: 2rem;
  align-items: center;
}

.login-signup-bar span {
  font-weight: bold;
}

.sign-up {
  background-color: #474444;
  color: aliceblue;
  padding: 0.5rem 1rem;
  border-radius: 15px; 
  margin-right: 1rem;
}

.content {
  position: absolute;
  z-index: 30;
}

.hero-image-container {
  background: url(/src/assets/hero.png) no-repeat center;
  background-size: cover;
  position: relative;
  width: clamp(39rem, 5rem + 50vw, 100vw);
  height: 100vh;
  z-index: 2;
  float: right;
}
